<figure>
    <img src="//artcivic.com/images/alegori/{{ item.mid }}"  >
</figure>

<figcaption>{{ item.title }}</figcaption>

<div class="book-detail">

    <a href="" class="author">{{ item.artist }}</a>
    <p class="price">{{ item.price|number_format }}</p>
</div>