<figure>
    <img src="{{ item.cover }}" alt="" height="130">
</figure>

<figcaption>{{ item.title }}</figcaption>

<div class="book-detail">
    <a href="" class="author">{{ item.author }}</a>
    <p class="price">{{ item.price|number_format }}</p>
</div>